.about-image {
    display: block; /* Makes the image act like a block element */
    margin: 15px auto; /* Centers the image horizontally and adds vertical space */
    max-width: 50%; /* Ensures the image scales down on smaller screens */
    height: auto; /* Maintains aspect ratio */
}

.about-title h2 {
    font-size: 2rem; 
    color: #f91762; 
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}

.about-title .container {
    padding: 0;
}

.about {
    text-align: center; /* Center-align everything in the section */
}

.about .button {
    margin-bottom: 10px;
}

.about .container {
    padding: 0;
}

.button {
    margin-top: 15px; /* Add some space above the button */
}
