.work-title h2 {
    font-size: 2rem; 
    color: #f91762; 
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}

/* Resume Download Section */
.resume-download {
    text-align: center;
}

.resume-download .download-button {
    background-color: #f91762; 
    color: #f4eff2;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

.resume-download .download-button:hover {
    background-color: #f4437e; /* Darker accent for hover effect */
    transform: scale(1.05); /* Subtle scaling effect */
}

/* Timeline */
.timeline {
    margin: 0 5rem;
    border-left: 4px solid #f91762; 
    padding-left: 20px;
}

.timeline-item {
    margin: 1.5rem 0;
    position: relative;
    padding-bottom: 1.5rem; 
}

/* Job Header - Title and Duration */
.job-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px; /* Add space between title and duration */
}

.job-title {
    font-size: 1.5rem; 
    color: #f4437e; 
    margin: 0; 
}

.job-duration {
    font-size: 1rem;
    color: #1a1a1a; 
    margin: 0;
}

/* Job Company */
.job-company {
    font-size: 0.9rem; 
    color: #1a1a1a; 
    margin: 0.5rem 0;
}

/* Job Duties */
.job-duties {
    font-size: 1rem; 
    color: #1a1a1a; 
    list-style-type: disc; 
    margin-left: 1.5rem; 
    margin-top: 0.5rem;
    line-height: 1.5;
}